/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body {
    margin: 0;
    padding: 0;

}

main {
    padding: 16px;
}

footer{
    display: flex;
    align-items: center;
    background-color: yellowgreen;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0;
}

img {
    height: 200px;
    display: inline-block;
}

nav {
   border-bottom: 1px solid black;
   padding: 16px;
   background-color: orangered;
}

.navLink {
    color: white;
}

h1 {
    color: darkgreen;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.divGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipeLink {
    color: green;
    font-weight: bold;
}

.recipe {
    margin-bottom: 10px;
}

tr:nth-child(even) {
    background-color: lightgray;
}
